body {

}


.bb {
    text-align:center
}

.tt{
    border:red solid 1px;
}

.tt div{
    border: red solid 1px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.rowc{
    margin-bottom:10px;
}

.mb-5{
    margin-top:10px
}

.thCentro{
    text-align:center;
}


#dlDetRec dd {
    margin-bottom: 6px;
}



#asignadoDetalle label {
font-size:22px;
}

#asignadoDetalle {
    margin-bottom: 6px;
    font-size: 18px;
}



.txtL{
    text-align: right;
}





