/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
    width: 100%;
    margin-bottom:20px;
}

#txt {
    outline: solid red 1px;
}

#contenedorMapa {
    border: solid grey 1px;
    height: 450px;
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
}





    