@{
    ViewBag.Title = "Home Page";
}
<hr />
<div class="
     ">
    <div class="jumbotron">
        <h1>Alcaldía de Toledo</h1>
        <p class="lead">Sistema de administracion de reclamos de la alcaldía de la ciudad de Toledo</p>
    </div>
</div>

