@model IEnumerable<Common.DTOs.DtoReclamo>

@{
    ViewBag.Title = "Listar Reclamos";
}

<h2>Reclamos</h2>
<hr />
<label>fecha</label><input type="date" />
<label>estado</label>
<label>cuadrilla</label>
<label>zona</label>
<label>Resultados por pagina</label>
<select>
    <option value="10">10</option>
    <option value="10">20</option>
    <option value="10">50</option>
    <option value="10">100</option>
</select>
<input type="button" value="Filtrar" />
<hr />

<div id="target">
    @Html.Partial("_ListarReclamosPartial")
</div>
