@Styles.Render("~/Content/estilos")

<hr />

<div class="row">
    <div class="col-lg-6" id="mapaVizor">
        @Html.Partial("_Mapa")
    </div>
    <div class="col-lg-6" id="target">

    </div>
</div>


<script type="text/javascript" src="~/Scripts/JS.js"></script>

<script>
    var reclamos = @Html.Raw(Json.Encode(ViewBag.Reclamos));
    var vizor = true;
</script>
