@model IEnumerable<Common.DTOs.DtoZona>

@{
    ViewBag.Title = "Zonas";
}
@Html.ActionLink("Agregar Nuevo", "NuevaZona", "Zona", new { @class = "btn btn-default" })

<h3>
    <label>Numero: </label><label id="numero" class="label label-default"></label>
    <label>Nombre: </label><label id="nombre" class="label label-default"></label>
</h3>

<script>
    var modelo = @Html.Raw(Json.Encode(ViewBag.colZonas));
</script>
@Html.Partial("_Mapa")
