@{
    ViewBag.Title = "Zonas";
}
@Html.ActionLink("Agregar Nuevo", "NuevaZona", "Zona",null, new { @class = "btn btn-default" })
<h3>
    <label>Numero: </label><label class="label label-default"></label>
    <input type="text" id="numeroZona" />
    <label>Nombre: </label><label class="label label-default"></label>
    <label id="nombreZona"></label>
    <input type="text" id="latitud" />
    <input type="text" id="longitud" />

</h3>
@Html.Partial("_Mapa")
<script>
</script>
