@{
    ViewBag.Title = "Zonas";
}
<hr />
@Html.ActionLink("Nueva Zona", "NuevaZona", "Zona", null, new { @class = "btn btn-info" })
@Html.ActionLink("Editar Zona", "NuevaZona", "Zona", null, new { @class = "btn btn-info" })
<h3>
    <!-- <label>Numero: </label><label class="label label-default"></label>
     <input type="text" id="numeroZona" />
     <label>Nombre: </label><label class="label label-default"></label>
     <input type="text" id="nombreZona" />-->

</h3>
<div class="row ">
    <div class="col-lg-9 zcontainer">
        @Html.Partial("_Mapa")
    </div>

</div>