@model Common.DTOs.DtoZona

@{
    ViewBag.Title = "Zonas";
}
<h2>Zonas</h2>
<input type="button" value="Editor de Zonas" class="btn btn-default" />
<h3><label id="numero" class="label label-default">Numero:</label><label id="nombre" class="label label-default">Nombre:</label></h3>

@Html.Partial("_Mapa")

